.back-button {
  position: absolute;
  top: 110px;
  left: 20px;
  width: 44px;
  height: 44px;
  color: #3d7069;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.3s ease;
  background: none;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nutrition-form {
  background-color: #ffffff;
  padding: 52px;
  max-width: 800px;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  h2 {
    text-align: center;
    color: #3d7069;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 10px;
  }

  p {
    text-align: center;
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

    label {
      font-size: 0.9rem;
      color: #555;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      margin-bottom: 5px;
    }

    input,
    select {
      padding: 10px;
      border: 1px solid #cfd8dc;
      border-radius: 8px;
      font-size: 1rem;
      background-color: #eff6f5;
      box-sizing: border-box;
      color: #333;
      width: 100%;

      &:focus {
        border-color: #3d7069;
        outline: none;
        background-color: #ffffff;
      }
    }

    .form-row {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
      width: 100%;

      > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-width: 100px;
      }
    }

    button {
      text-align: center;
      background-color: #3d7069;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 20px;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;
      margin-top: 10px;
      width: 100%;
      transition: background-color 0.3s;

      &:hover {
        background-color: #1b4332;
      }
    }
  }

  @media screen and (max-width: 480px) {
    padding: 15px;
    max-width: 90%;

    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 0.875rem;
    }

    form {
      gap: 10px;

      .form-row {
        flex-direction: column;
        gap: 10px;
      }

      input,
      select {
        font-size: 0.875rem;
        padding: 10px;
      }

      button {
        width: 100%;
        font-size: 0.875rem;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    max-width: 70%;

    h2 {
      font-size: 2rem;
    }

    form {
      input,
      select {
        font-size: 1rem;
      }

      button {
        width: 100%;
        font-size: 1rem;
      }
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 60%;
    padding: 40px;

    h2 {
      font-size: 2.5rem;
    }

    form {
      gap: 20px;

      input,
      select {
        padding: 14px;
        font-size: 1rem;
      }

      button {
        width: 100%;
        font-size: 1rem;
      }
    }
  }
}
