#bmi-result {
  background-color: #ffffff;
  margin: 10px auto;
  padding: 37px;
  text-align: center;

  h2 {
    margin: 10px 0;
    color: #3d7069;
    font-size: 40px;
    font-weight: bold;
  }

  .result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;

    .bmi-value,
    .bmi-status {
      font-size: 30px;
      font-weight: 500;
      color: #333;

      span {
        font-weight: bold;
        color: #3d7069;
        padding: 20px;
      }
    }

    img {
      max-width: 100%;
      height: auto;
      width: 500px;
    }
  }

  .bmi-description {
    font-size: 20px;
    text-align: center;
  }

  .artikel-section {
    margin-top: 30px;

    h2 {
      font-size: 1.5rem;
      color: #333;
    }

    .artikel-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }

    .read-more-link {
      font-size: 1rem;
      color: #3d7069;
      text-decoration: none;
      margin-top: 20px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .relevant-articles {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;

    h3 {
      margin-bottom: 15px;
      padding: 10px;
      font-size: 1.5rem;
      color: #333;
    }

    .articles-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
    }

    .article-item {
      border: 1px solid #ddd;
      border-radius: 8px;
      overflow: hidden;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      }

      .article-link {
        text-decoration: none;
        color: inherit;

        img {
          width: 100%;
          height: 330px;
          display: block;
          object-fit: cover;
        }

        .article-title {
          padding: 10px;
          font-size: 1.25rem;
          font-weight: bold;
          background-color: white;
        }

        .article-date {
          font-size: 0.875rem;
          color: #888;
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    margin: 10px auto;

    .result-container {
      gap: 10px;
      padding: 5px;
    }

    .bmi-description {
      text-align: justify;
    }

    .relevant-articles {
      padding: 10px;

      h3 {
        margin-bottom: 10px;
      }

      .articles-list {
        gap: 10px;
      }
    }
  }

  @media screen and (max-width: 480px) {
    margin: 5px auto;

    .result-container {
      gap: 5px;
      padding: 5px;
    }

    .relevant-articles {
      padding: 5px;

      h3 {
        margin-bottom: 5px;
      }

      .articles-list {
        gap: 5px;
      }

      .article-item {
        max-width: 150px;
      }
    }
  }

  @media screen and (max-width: 430px) {
    margin: 5px auto;

    .result-container {
      gap: 5px;
      padding: 5px;
    }

    .relevant-articles {
      padding: 5px;

      h3 {
        margin-bottom: 5px;
      }

      .articles-list {
        gap: 5px;
      }

      .article-item {
        max-width: 140px;
      }
    }
  }
}
